<!DOCTYPE html>
<html>
    <head>
    <style>

    

    </style>
    </head>
    <body>
        <div>
            <form action="/logins" method="POST">
                <div>
                    <p>Email: <input type="text" name="email"></p>
                    <p>Password: <input type="password" name="password"></p>
                    <button type="submit" id="submit">Log In</button>
                </div>
            </form>
            <form action="/signups" method="POST">
                <button type="submit" id="submit">Sign Up</button>
            </form>
    
    </body>
</html>