<!DOCTYPE html>
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One|Cinzel|Lakki+Reddy|Londrina+Shadow|Righteous|Rye|Ultra|Fredericka+the+Great|' rel='stylesheet' type='text/css'>
    </head>
    <style>

        h1 {
            text-align: center;
        }

        button {
           display: inline;
           border-radius: 100px;
           font-family: 'Cinzel', serif;
        }

        .input {
            text-align: center;
        }

        .login_button {
            float: left;
        }

        .signup_button {
            float: right;
        }
    

    </style>
    
    <body>

        <h1>Log In To Santa's List Below!</h1>

        <p><div>
            <form action="/logins" method="POST">
                <div class="input">
                    <p>Email: <input type="text" name="email"></p>
                    <p>Password: <input type="password" name="password"></p>
                    <div class="login_button">
                        <button type="submit" id="submit">Log In</button>
                    </div>
                </div>
            </form>
            <div class="signup_button">
                    <a href="/signup">Sign Up</a>
            </div></p>
    </body>
</html>