<p><b>Hello, <%= @current_user.name%></b></p>
<br>

<form action="/wishlists/<%= @current_user.id %>/index">
    <button type="submit">Wishlist!</button>
</form>
<%# <a href='/logout'>Log Out</a> %>
<form action="/logout">
    <button type="submit">Log Out</button>
</form>