<h1>Your Wishlist!</h1>


<select id="select_wish">
    <option value="default" selected>Select wish</option>
        <%@wishlists.each do |x| %>
        <option value="<%=x.id%>"><%=x.content%></option>
        <%end%>
</select>
    

<form action="/wishlists/<%= @user.id %>/new" method="GET">
    <p><button type="submit" id="submit">Make My Next Wish!</button></p>
</form>
<button onclick = "selectWish()">Edit wish</button>
<form action="/users/:id/home">
    <button type="submit">Home</button>
</form>
<form action="/logout">
    <button type="submit">Log Out</button>
</form>


<script>

    const selectWish = () => {
        let list = document.getElementById("select_wish").value
        window.location.replace(`http://localhost:9393/wishlists/${list}/edit`)
        console.log(list)
    }
 </script>
