<h1>Your Wishlist!</h1>

<%@wishlists.each do |x|%>

<p><input type="checkbox" name="user[x_ids][]" id="<%= x.id %>" value="<%= x.id %>"> <%= x.content %></p>

<%end%>

<form action="/wishlists/<%= @user.id %>/new" method="GET">
    <p><button type="submit" id="submit">Make My Next Wish!</button></p>
</form>
