<h1>This is your wish for: <em><%= @wish.content %></em> !</h1>
<h3>What would you like to do with your wish?


<form action="/wishlists/<%= @wish.id %>/edit" method="PATCH">
  <input type="submit" value="Edit Wish"/>
</form>
<div class="remove">
            <form action="/wishlists/<%= @wish.id %>/delete" method="post">
              <input id="hidden" type="hidden" name="_method" value="delete"/>
              <button type="submit" id="submit">Remove Wish</button>
            </form>	
</div>
<br>
