<h1>This is the show page for an individual instance of your model.</h1>
<%= @wish.content %>

<form action="/wishlists/<%= @wish.id %>/edit" method="PATCH">
  <input type="submit" value="Edit Wish"/>
</form>
<div class="remove">
            <form action="/wishlists/<%= @wish.id %>/delete" method="post">
              <input id="hidden" type="hidden" name="_method" value="delete"/>
              <button type="submit" id="submit">Remove Wish</button>
            </form>	
</div>
<br>
