<!DOCTYPE html>
<head>
      <link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One|Cinzel|Lakki+Reddy|Londrina+Shadow|Righteous|Rye|Ultra|Fredericka+the+Great|' rel='stylesheet' type='text/css'>
</head>

<style>

button {
       display: inline;
       border-radius: 100px;
       font-family: 'Cinzel', serif;
}

.button1 {
       float: left;
}
.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}


.button2 {
       float: right;
}

</style>

<body>
  <h1>Welcome to your Santa's List</h1>
  <h4>Please log in to your Santa's List to continue wishing!</h4>
  <br>
  <h4>If you have not created a Santa's List yet,</h4>
  <h4> no worries just follow the sign up link below to get started!!</h4>
  <%# <a href='/logins/login'>Log In</a> %>
  <br>
  <div class="button1">
         <p><a class="button" href="/login">Log In</a></p>
  </div>
  <%# <a href="/signups/signup">Sign Up</a> %>
  <div class="button2">
         <p><a class="button" href="signup">Sign up</a></p>
  </div>
</body>

</html>